@use "base/variables" as v;
@use "base/mixins" as m;

.formulario{
    margin-top: 5rem;
    width: 10%;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label{
        flex:0 0 10rem
    }
    input{
        flex: 1;
        border: none;

        padding: calc(1.25rem);
        border-radius: 1rem;
    }
}