@use "base/variables" as v;
@use "base/mixins" as m;

.contenido-resumen{
    p{
        margin-bottom: 1rem;
    }

    span{
        color: v.$azul;
        font-weight: bold;
        font-size: 2.4rem;
    }
}
.contenedor-servicio{
    border-bottom: 1px solid v.$gris;
    margin: 3rem 0;

    &:last-of-type{
        margin-bottom: v.$separacion;
    }
}